.card {
  background-color: white;
  padding: 20px 30px;
  border-radius: 30px;
  box-shadow: 0 3px 9px #299bb887;
  margin-top: 20px;
  animation: fadeIn 0.3s ease-in;
}

.card__header,
.card__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card__info--green {
    color: green;
}

.card__info--red {
    color: red;
}

.card__title {
  color: #435462;
  font-size: 23px;
  margin-bottom: 10px;
  text-transform: capitalize;
}

.card__description {
  color: #1b252e;
  font-size: 18px;
}

.card__date {
  text-align: right;
  font-style: italic;
}
