<div class="card">
  <div class="card__header">
    <h2 class="card__title">{{ todo.title }}</h2>
    <div class="card__info card__info--green">
      <b>Status</b>: {{ todo.status }}
    </div>
  </div>
  <p class="card__description">{{ todo.description }}</p>
  <div class="card__footer">
    <app-button text="Delete" color="red" (click)="onDelete(todo)"></app-button>
    <div>
      <div class="card__date"><b>Created</b>: {{ todo.created | date }}</div>
      <div class="card__date"><b>Due</b>: {{ todo.due | date }}</div>
    </div>
  </div>
</div>
